{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": [
          "src/scss/site.min.scss"
        ]
      }
    },
    "uploader": {
      "remotePath": "/httpdocs/wp-content/themes/thehealthhub",
      "timeout": 20000,
      "autoUpload": true,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "style.css",
          "mtimeMs": 1622650079030.87,
          "date": "2021-06-02T16:08:01.985Z"
        },
        {
          "file": "src/css/site.min.css",
          "mtimeMs": 1617794030059.0293,
          "date": "2021-04-07T11:13:51.303Z"
        },
        {
          "file": "css/site.min.css",
          "mtimeMs": 1626855025863.3103,
          "date": "2021-07-21T08:10:26.728Z"
        },
        {
          "file": "src/scss/site.min.scss",
          "mtimeMs": 1626854357089.1482,
          "date": "2021-07-21T07:59:18.182Z"
        },
        {
          "file": "template-parts/header/header-4.php",
          "mtimeMs": 1621584313083.1897,
          "date": "2021-05-21T08:05:13.810Z"
        },
        {
          "file": "functions.php",
          "mtimeMs": 1626857690330.557,
          "date": "2021-07-21T08:54:51.120Z"
        },
        {
          "file": "js/jquery.min.js",
          "mtimeMs": 1619436757666.493,
          "date": "2021-04-26T11:32:38.394Z"
        },
        {
          "file": "template-parts/partials/partial-cookie-consent.php",
          "mtimeMs": 1617803682372.3484,
          "date": "2021-04-07T13:54:43.298Z"
        },
        {
          "file": "inc/sticky-cta/contact-slideout.css",
          "mtimeMs": 1626256671398.5046,
          "date": "2021-07-14T09:57:52.124Z"
        },
        {
          "file": "inc/sticky-cta/contact-slideout.js",
          "mtimeMs": 1621936495559.2305,
          "date": "2021-05-25T09:54:57.667Z"
        },
        {
          "file": "inc/sticky-cta/contact-slideout.php",
          "mtimeMs": 1626857633522.823,
          "date": "2021-07-21T08:53:54.320Z"
        },
        {
          "file": "footer.php",
          "mtimeMs": 1617806307720.9988,
          "date": "2021-04-07T14:38:28.623Z"
        },
        {
          "file": "header.php",
          "mtimeMs": 1624455045047.829,
          "date": "2021-06-23T13:30:45.972Z"
        },
        {
          "file": "template-parts/page-layout/layout_nwgju.php",
          "mtimeMs": 1621933973588.4485,
          "date": "2021-05-25T11:07:50.388Z"
        },
        {
          "file": "template-equity-calc.php",
          "mtimeMs": 1620831466610.0427,
          "date": "2021-05-12T14:57:47.299Z"
        },
        {
          "file": "template-parts/page-layout/layout_kqbhm.php",
          "mtimeMs": 1625492181573.2224,
          "date": "2021-07-05T13:36:22.326Z"
        },
        {
          "file": "template-parts/page-layout/layout_bqsqi.php",
          "mtimeMs": 1625131449464.6758,
          "date": "2021-07-01T09:24:10.465Z"
        },
        {
          "file": "template-parts/page-layout/layout_usopq.php",
          "mtimeMs": 1618230887565.2393,
          "date": "2021-04-12T12:34:48.460Z"
        },
        {
          "file": "template-parts/page-layout/layout_hytre.php",
          "mtimeMs": 1622029817015.371,
          "date": "2021-05-26T11:50:17.737Z"
        },
        {
          "file": "template-parts/partials/partial-latest-posts.php",
          "mtimeMs": 1622112397684.2717,
          "date": "2021-05-27T10:46:38.450Z"
        },
        {
          "file": "template-parts/content-page-blog.php",
          "mtimeMs": 1622117002199.0535,
          "date": "2021-05-27T13:33:11.516Z"
        },
        {
          "file": "template-parts/partials/partial-testimonial.php",
          "mtimeMs": 1623745462400.5813,
          "date": "2021-06-15T08:24:23.414Z"
        },
        {
          "file": "template-parts/partials/partial-testimonial-slider.php",
          "mtimeMs": 1622044359539.1167,
          "date": "2021-05-26T15:52:40.291Z"
        },
        {
          "file": "template-parts/page-layout/layout_gtrwb.php",
          "mtimeMs": 1618913159051.8997,
          "date": "2021-04-20T10:05:59.791Z"
        },
        {
          "file": "template-parts/content-layout.php",
          "mtimeMs": 1622213873394.2727,
          "date": "2021-05-28T14:57:54.098Z"
        },
        {
          "file": "template-parts/partials/partial-logo-slider.php",
          "mtimeMs": 1620836490892.0166,
          "date": "2021-05-12T16:21:31.594Z"
        },
        {
          "file": "template-parts/content-page-contact.php",
          "mtimeMs": 1622542052234.4011,
          "date": "2021-06-02T07:38:43.657Z"
        },
        {
          "file": "template-parts/content-page.php",
          "mtimeMs": 1618916059448.245,
          "date": "2021-04-20T10:54:20.154Z"
        },
        {
          "file": "img/icons.svg",
          "mtimeMs": 1625143163266.573,
          "date": "2021-07-01T12:39:24.064Z"
        },
        {
          "file": "template-parts/page-blog.php",
          "mtimeMs": 1622116986721.9504,
          "date": "2021-05-27T13:33:11.263Z"
        },
        {
          "file": "index.php",
          "mtimeMs": 1619437078910.522,
          "date": "2021-04-26T11:37:59.603Z"
        },
        {
          "file": "js/loadmore.js",
          "mtimeMs": 1619437100187.5005,
          "date": "2021-04-26T11:38:20.906Z"
        },
        {
          "file": "inc/pagination.php",
          "mtimeMs": 1619691789126.5789,
          "date": "2021-04-29T10:23:09.856Z"
        },
        {
          "file": "template-parts/partials/partial-recent.php",
          "mtimeMs": 1619692048761.421,
          "date": "2021-04-29T10:27:29.532Z"
        },
        {
          "file": "template-parts/content-single.php",
          "mtimeMs": 1619439200713.82,
          "date": "2021-04-26T12:13:21.421Z"
        },
        {
          "file": "404.php",
          "mtimeMs": 1622535218565.108,
          "date": "2021-06-01T08:13:40.854Z"
        },
        {
          "file": "template-parts/page-testimonial.php",
          "mtimeMs": 1623747458758.9177,
          "date": "2021-06-15T08:57:39.703Z"
        },
        {
          "file": "inc/shortcodes.php",
          "mtimeMs": 1625142824256.902,
          "date": "2021-07-01T12:33:45.069Z"
        },
        {
          "file": "template-parts/content-page-equity-calc.php",
          "mtimeMs": 1620831077471.579,
          "date": "2021-05-12T14:51:18.173Z"
        },
        {
          "file": "template-parts/page-layout/layout_ecalc.php",
          "mtimeMs": 1620832357215.3572,
          "date": "2021-05-12T15:12:37.957Z"
        },
        {
          "file": "inc/cpt.php",
          "mtimeMs": 1621953109986.3853,
          "date": "2021-05-25T15:59:19.255Z"
        },
        {
          "file": "template-parts/header/header-1.php",
          "mtimeMs": 1621584269983.5105,
          "date": "2021-05-21T08:04:33.647Z"
        },
        {
          "file": "template-parts/header/header.php",
          "mtimeMs": 1626857791301.8477,
          "date": "2021-07-21T08:56:32.071Z"
        },
        {
          "file": "template-parts/header/main-menu.php",
          "mtimeMs": 1621590907410.373,
          "date": "2021-05-21T09:55:08.126Z"
        },
        {
          "file": "js/slick.js",
          "mtimeMs": 1621932088619.737,
          "date": "2021-05-25T08:41:29.357Z"
        },
        {
          "file": "js/slick.min.js",
          "mtimeMs": 1621932950529.157,
          "date": "2021-05-25T08:55:51.243Z"
        },
        {
          "file": "img/logo.png",
          "mtimeMs": 1621951535569.6838,
          "date": "2021-05-25T14:05:36.433Z"
        },
        {
          "file": "webfonts/stylesheet.css",
          "mtimeMs": 1621953660071.6804,
          "date": "2021-05-25T14:41:20.771Z"
        },
        {
          "file": "template-parts/page-layout/layout_team.php",
          "mtimeMs": 1622121929175.2673,
          "date": "2021-05-27T13:25:29.975Z"
        },
        {
          "file": "template-parts/page-layout/layout_pnycl.php",
          "mtimeMs": 1622040829594.8074,
          "date": "2021-05-27T07:47:42.869Z"
        },
        {
          "file": "src/javascript/slick.js",
          "mtimeMs": 1622111916972.9895,
          "date": "2021-05-27T10:38:37.805Z"
        },
        {
          "file": "inc/additional-functions.php",
          "mtimeMs": 1622112019789.7903,
          "date": "2021-05-27T11:53:49.585Z"
        },
        {
          "file": "template-parts/page-layout/layout_price.php",
          "mtimeMs": 1622538345230.5908,
          "date": "2021-06-01T09:05:45.964Z"
        },
        {
          "file": "img/logo.svg",
          "mtimeMs": 1625478690645.7915,
          "date": "2021-07-05T09:51:31.377Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "src/scss/site.min.scss",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": true
            }
          },
          "customOutput": "css\\site.min.css"
        }
      }
    ]
  }
}
