.bqsqi-wrapper {
    padding: 1rem 0;

    &.extra-padding-bottom {
        padding-bottom: 5rem;
    }

    &.text-center{
        header{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .section-heading {
        //text-align: center;
        //margin-bottom: 2rem;

        &.with-intro {
            h1 {
                margin: 0 0 1rem;
            }
        }
    }

    &.three-one{
        .grid {
            align-items: flex-start !important;

            .column {
                padding: 0 1rem;
                flex: 1;

                &:first-child {
                    padding-left: 0;
                    align-items: flex-start;
                    flex: 3;
                    @media screen and (max-width: map-get($gl-mq-list, 'sm')) {
                        flex-basis: 100%;
                    }
                }
                &:last-child {
                    padding-right: 0;
                    align-items: flex-start;
                    flex: 2;
                    @media screen and (max-width: map-get($gl-mq-list, 'sm')) {
                        flex-basis: 100%;
                        padding: 0;
                    }
                }

                @media screen and (max-width: map-get($gl-mq-list, 'sm')) {
                    flex-basis: 100%;
                }
            }
            header{
                border-bottom: 0.5px solid $color-1;
                width: 60%;
            }
        }
    }

    &.three-one-reverse{
        .grid {
            align-items: flex-start !important;

            .column {
                padding: 0 1rem;
                flex: 1;

                &:last-child {
                    padding-right: 0;
                    align-items: flex-start;
                    flex: 4;
                    @media screen and (max-width: map-get($gl-mq-list, 'sm')) {
                        flex-basis: 100%;
                    }
                }
                &:first-child {
                    padding-left: 0;
                    align-items: flex-start;
                    flex: 2;
                    @media screen and (max-width: map-get($gl-mq-list, 'sm')) {
                        flex-basis: 100%;
                        padding: 0;
                    }
                }

                @media screen and (max-width: map-get($gl-mq-list, 'sm')) {
                    flex-basis: 100%;
                }

                .inner-text{
                    h3{
                        font-family: $body-font;
                    }
                }
            }
        }
    }

    &.therapist{
        .grid {
            align-items: center !important;
            .column {
                padding: 0 1rem;
                flex: 1;

                &:last-child {
                    padding-right: 0;
                    align-items: flex-start;
                    @media screen and (max-width: map-get($gl-mq-list, 'sm')) {
                        flex-basis: 100%;
                    }
                }
                &:first-child {
                    padding-left: 0;
                    align-items: flex-end;
                    @media screen and (max-width: map-get($gl-mq-list, 'sm')) {
                        flex-basis: 100%;
                        padding: 0;
                    }
                }

                @media screen and (max-width: map-get($gl-mq-list, 'sm')) {
                    flex-basis: 100%;
                }

                .inner-text{
                    h3{
                        font-family: $body-font;
                    }
                }
            }
        }
    }

    &.logos{
        .default-header{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &.video{
        .grid {
            max-width: 50rem;
            margin: 0 auto;
        }
    }
    .grid {
        display: flex;
        flex-flow: row wrap;

        .column {
            flex: 1;
            padding: 0 1rem;

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }

            @media screen and (max-width: map-get($gl-mq-list, 'sm')) {
                flex-basis: 100%;
            }

            .inner-text{
                .button{
                    background-color: $button-background-color;
                    &:hover{
                        background: darken($button-background-color, 10%);
                    }
                }
            }
        }

        header{
            margin: 0 auto;
            h2{
                border-bottom: 0.5px solid $color-1;
                margin-bottom: 1rem;
                padding-bottom: 0.5rem;
            }
        }

        &.singlecol{
            //max-width: 50rem;
            //margin: 0 auto;
        }

        &.single {
            //grid-template-columns: 1fr;
            justify-content: center;
        }

        &.halfimage {
            //grid-template-columns: 1fr 1fr;
            //grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
            //grid-gap: 1rem;
            align-items: center;
            
            .image {
                height: 100%;
                display: flex;
                justify-content: center;
                
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

            }
            
            .inner-text {
                padding: 0.5rem 4rem 0 0;
            }
        }

        &.reverse {
            flex-direction: row-reverse;
        } 
    }

    &.intro-text {
        .inner-text {
            p {
                font-size: 1rem;
                font-weight: 600;
            }
        }
    }

    &.bg- {
        &cool-grey {
            .content-wrapper {
                padding: 2rem;
                background-color: $cool-grey;
            }
        }
    }
}

@media screen and (max-width: map-get($gl-mq-list, 'md') ) {
    .bqsqi-wrapper {
        .grid {
            &.single {
                grid-template-columns: 100% !important;
            }
            &.halfimage {
                .inner-text {
                    padding: 1rem 0 0;
                }
            }

            .column {
                padding: 0;
            }
        }
    }
}

@media screen and (max-width: map-get($gl-mq-list, 'sm') ) {
    .bqsqi-wrapper {

        &.three-one-reverse, &.therapist{
            .grid{
                .column {
                    &:first-child{
                        text-align: center;
                    }
                    padding: 0 !important;
                    .inner-text{
                        img{
                            margin: 0;
                            float: none !important;
                        }
                    }
                }
            }
        }

        .grid {
            &.single {
                grid-template-columns: 100% !important;
            }
            &.halfimage {
                .inner-text {
                    padding: 1rem 0 0;
                }
                .image {
                    margin-top: 2rem;
                }
            }

            .column {
                padding: 0;

            }
        }
    }
}