.pnycl-wrapper {
    background: $color-3;
    padding: 2rem 0 1rem;

    .section-heading{
        h2{
            color: $body-font-color;
            margin-bottom: 1rem;
            &:after{
                content: none;
            }
        }
    }  
    .testimonial-text{
        color: $body-font-color;
        text-align: center;
    }
}