.price-wrapper {
    padding: 3rem 0 1rem;
    .container{
        padding: 0;

        .grid {
            display: flex;
            flex-flow: row wrap;
    
            .column {
                flex-grow: 1;
                width: 30%;
                max-width: 30%;
                margin-bottom: 2rem;
                padding: 0 1rem;
    
                &:first-child{
                    padding: 0 1rem 0 0;
                    @media screen and (max-width: map-get($gl-mq-list, 'md') ) {
                        width: 45%;
                        max-width: 45%;
                        padding: 0 0 0 1rem;

                    }
                    @media screen and (max-width: map-get($gl-mq-list, 'sm') ) {
                        padding: 1rem 1rem 0;
                    }
                }

                &:nth-child(2) {
                    @media screen and (max-width: map-get($gl-mq-list, 'md') ) {
                        width: 45%;
                        max-width: 45%;
                    }
                }

                &:last-child {
                    @media screen and (max-width: map-get($gl-mq-list, 'md') ) {
                        width: 100%;
                        max-width: 100%;
                        padding: 0 1rem;
                    }
                }
    
                @media screen and (max-width: map-get($gl-mq-list, 'sm') ) {
                    flex-basis: 100%;
                    max-width: none;
                    margin-bottom: 0;
                    padding: 0 1rem 1rem;
                }
    
                .therapy-name{
                    background-color: $color-3;
                    padding: 0.5rem 1rem;
                    h3{
                        font-family: $body-font;
                        font-weight: bold;
                        color: $color-1;
                        margin-bottom: 0;
                        font-size: 1rem;
                    }
                }

                .sessions{
                    padding: 1rem 1rem 2rem;
                    color: $color-1;
                    .dots{
                        border-bottom: #000000 dotted 2px;
                    }
                    .price{
                        font-weight: bold;
                        float: right;
                    }
                }

                .appointment-form{
                    background-color: $color-1;
                    padding: 1rem 1rem;
                    h3{
                        color: $white;
                        font-size: 1rem;
                    }

                    form .gform_button{
                        background-color: $white;
                        padding: 1rem 2rem;
                        height: auto;
                        color: $color-1;
                        display: block;
                        margin: 0 auto;
                        &:hover{
                            background: darken($white, 20%);
                        }
                    }
                }
            }
        }
    }
}