#colophon.footer-2 {
    padding-bottom: 0;

    #copyright {
        text-align: center;
        padding: 0.5rem 0;
        background: $white;
        color: $color-1;

        .container {
            padding: 0.75rem 0;
        }

        .site-info {
            text-align: center;
        }

        .grid {
            text-align: left;
            align-items: center;
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;

            @media screen and (max-width: map-get($gl-mq-list, 'sm') ) {
                text-align: center;
            }

            .column {
                width: 100%;

                @media screen and (max-width: map-get($gl-mq-list, 'sm') ) {
                    flex-basis: 100%;
                }
            }
        }
    }
}