.woocommerce-cart {

    background: #f1f1f1;

    .basket {
        .basket-product-thumbnail {
            min-width: 150px;
        }

        .basket-item-wrapper.cart_item {
            display: flex;
            position: relative;
            background: #fff;
            padding: 0.5rem 1rem;
            border-bottom: rem-calc(1) solid #eee;
        }        

        .basket-remove {
            position: absolute;
            right: 1rem;

            a {
                font-size: 2rem;
                color: #000;
            }
        }   

        .basket-product-info {
            margin-left: 1rem;
            flex-grow: 1;
        }

       .basket-product-name {
            margin-top: 0.5rem;

            a {
                color: #000;
                font-size: 1.15rem;
            }
        }        

        .basket-product-quantity {
            margin-top: 0.5rem;
        }       

        button[name="update_cart"] {
            float: right;
            margin-top: 1rem;
        }
    }
}

@media screen and (max-width: 800px) {
    .woocommerce-cart {
        .basket {
            .basket-remove {
                top: -5px;
                right: 8px;
            }        
        }
    }
}